:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --colour-indigo: #5623AE;
  --colour-magenta: #BA0C98;

  background: linear-gradient(to right bottom, var(--colour-indigo), var(--colour-magenta));
  background: linear-gradient(to right bottom in oklch, oklch(from var(--colour-indigo) l c h), oklch(from var(--colour-magenta) l c h));

  font-synthesis: none;
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0;
}

.panel {
  display: flex;
  --background-shim: oklch(from var(--colour-indigo) 0 calc(c - 0.05) h);
  background: oklch(from var(--background-shim) l c h / 0.5);
  box-shadow: 0 10px 150px var(--background-shim),
    0 7.5px 80px oklch(from var(--background-shim) l c h / 0.5),
    0 5px 20px oklch(from var(--background-shim) l c h / 0.5);
}

.column {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 90vh;
  aspect-ratio: 20.3 / 128.5; /* dw about it */
  justify-content: space-around;
  padding-block: 9.5vh;
}

.column img {
  position: absolute;
  height: 90vh;
  width: auto;
  top: 0;
}

.row {
  isolation: isolate;
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-inline: 1.8vh;
  color: white;
}

.row select {
  appearance: none;
  width: 2.4vh;
  height: 2.4vh;

  --background-opacity: 0.5;

  background: rgb(from var(--colour-magenta) r g b / var(--background-opacity));
  border-radius: 1.2vh;
  border: 0 none;
  cursor: pointer
}

.row select:hover {
  --background-opacity: 0.75;
}
